/*GLOBAL*/

html, body { margin: 0px; padding: 0px; width: 100%; scroll-behavior: smooth; }

* { box-sizing: border-box; }

img { cursor: pointer; }



h2 { font-size: 16px; margin-bottom: 0px; font-family: 'Raleway', sans-serif; font-weight: bold; cursor: pointer; }

h3 { font-size: 16px; margin-bottom: 0; }

p {	margin-top: 5px; margin-bottom: 0px; font-family: 'Raleway', sans-serif;	} 


i.stargris {color:#F2F2F2;}

.cursor {cursor: pointer;}

.euro-bold {font-weight: bold;}




/*HEADER*/

header {width: 100%; 
		display: flex;
		flex-direction: column;}


/*NAVIGATION*/

nav {		display: flex; 
			justify-content: flex-end; 
			width: 100%; 
			align-items: center; 
			position: relative;}

#reservialogo {	top: 29px;
				position: absolute;
				height: 6vh;
				left: 4%;}

ul {		padding-left: 0;
			padding-top: 3px;
			margin-top: 0;
			width: 30%; 
			margin-right: 5%; 
			justify-content: space-between; 
			display: flex; 
			list-style:none;}


a {		text-decoration: none; 
		font-family: 'Raleway', sans-serif;
		color: black; 
		font-size: 16px; 
		font-weight: 500; 
		cursor: pointer;}


/* buttons */

li {height: 90px; display: flex; align-items: center;  }


.buttons {border-top: solid white; padding : 0 20px 0 20px;}

.buttons:hover { border-top: solid #0065FC 2px; }

.buttons a:hover {color:#0065FC; font-weight: 500;}


#subscribe {	color: #0065FC;
				font-weight: bold; 
				 }

.sub {margin-left:4.5%; }


/*Page Title*/

h1			 {	margin-left: 4%;
				margin-top: 0%;
				margin-bottom: 0.3%;
				font-family: 'Raleway', sans-serif;
				font-size: 19px;	}

.slogan {	margin-left: 4%; margin-bottom: 1.2%; }


/*Search bar*/

form {			display: flex; 
				border-radius: 10px; 
				height: 40px; 
				margin-left: 3.9%;
				margin-bottom: 1.5%; }

i.locationlogo {background:#F2F2F2; 
				width: 45px; 
				display: flex; 
				justify-content: center; 
				align-items: center; 
				border-radius: 10px 0 0 10px; }

i.locationlogo:hover {color: #0065FC }

input { border: solid 2px #F2F2F2; border-right: none;}


button {	background: #0065FC; 
			color: white; 
			border:none; 
			border-radius: 0 10px 10px 0; 
			width: 100px;
			cursor: pointer;}

.rechercher {align-items: center; margin-top: 0;}

i.glass {display: none;}


/*Filters*/

.divfilters {		display: flex; 
					align-items: center; 
					margin-left: 4.3%; 
					}



.filters { 		display flex;
				font-weight: bold; 
				margin-top: 0; 
				margin-right: 26px;}

.underdivfilters {display: flex; flex-wrap: wrap;}

.iconstexts {	
				display: flex; 
				border-radius: 30px; 
				height: 40px; 
				margin-right: 22px;
				border: #F2F2F2 solid; 
				border-left: none;
				align-items: center;}

.iconstexts:hover { box-shadow: 0 0 3.5px inset #0065FC; }


.iconstexts i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
	height: 38px; 
	width: 38px;
	margin-right: 10px;
	background: #DEEBFF;
	color: #0065FC;}

.iconstexts i:hover {background: white; border:solid 2px #0065FC;}



.textsfilters { margin-top: 0; 
				margin-right: 20px; 
				font-size: 16px; 
				font-weight: bold; 
				}


/*i Info*/

.dispo {	margin-top: 2%;
				display: flex;
				margin-left: 4.3%;
				align-items: center;}

.dispo i {	margin-right: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #0065FC; 
					border-radius: 25px;
					border: #F2F2F2 solid 2px;
					width: 25px;
					height: 24px; 
					font-size: 11px;}


.dispotext {margin-top: 0;}

/*MAIN*/


/*div Hebergements + Populars*/

.hebpop {	display: flex; 
			width: 100%; 
			justify-content: space-around; 
			margin: auto;
			margin-top: 1.5%;}







/*Section Hebergements*/

.hebergements { border-radius: 18px;
				background-color: #F2F2F2;
				margin-left: 2%;
				flex-direction: column; 
				width: 60%;}



#tittlehebergements {	margin-left: 5%;; 
						margin-bottom: 23px; 
						font-size: 19px; 
						margin-top: 55px; } 




/*div contains reservations*/

.reservations {	display: flex;
				margin: auto;
				justify-content: space-between;
				flex-wrap: wrap;
				width:90%; }			
				



/*6 reservations*/

.textannounces { box-shadow:0px 1px 6px; 
				border: solid white 4px; 
				border-radius: 18px; 
				background-color: white; 
				width: 31%; 
				display: flex;
				flex-direction: column; 
				margin-bottom: 3.5%;}

.textannounces:hover {box-shadow: 0 0 10px;}



.textannouncesbottom {	box-shadow:0px 1px 6px; 
						border: solid white 4px; 
						border-radius: 18px; 
						background-color: white; 
						width: 31%; 
						display: flex;
						flex-direction: column;	}

.textannouncesbottom:hover {box-shadow: 0 0 10px;}



.imghebergements { 	border-radius: 16px 16px 0px 0px ; 
					height: 130px; 
					width: 100%;
					object-fit: cover;  } /*img announces*/

.tittleannounces {	margin-left: 4%; 
					margin-top: 3%; 
					margin-bottom: 0%; }

.prices {margin-left: 4%; font-size: 15px;}

.starhebergements {font-size: 12px; color: #0065FC; margin-left: 4%; margin-bottom: 1.5%; }

.afficherplus {margin-top: 35px; 
			   margin-left: 5%; 
			   font-weight: bold; 
			   margin-bottom: 55px;
				cursor: pointer;}





/* POPULARS */

.populars 	{	width: 31%; 
				display: flex; 
				flex-direction: column; 
				background-color: #F2F2F2; 
				border-radius: 18px; 
				justify-content: space-around; 
				margin-right: 2% }


.tittlepoplogo { 	width: 80%; 
					margin: auto; 
					margin-top: 55px; 
					margin-bottom: 2.2%; 
					display: flex; 
					align-items: center;}


.tittlepopulars {	font-size: 19px;
					width :50%; 
					margin: 0px;}

.arrowlogo { margin-left: 44%; font-size: 20px; margin-top: 2px; }

.arrowlogo:hover {color:#0065FC;}




/*Link populars announces*/
.urlpop {display: flex; margin: auto; width: 100%;}
.urlpopbottom {display: flex; margin: auto; margin-bottom: 5%; width: 100%; }


/*3 announces pop*/
.announcespopulars {	border: solid white 4px; 
						box-shadow:0px 1px 6px;
						display: flex; 
						width:80%;
   						margin: auto; 
   						justify-content: flex-start; 
   						border-radius: 18px; 
   						background-color: white; 
   						margin-top: 0px; 
   						cursor: pointer;} 

.announcespopulars:hover {box-shadow:0px 1px 10px;}



.imgpopulars {	object-fit: cover; 
				width: 37%; 
				height: 155px; 
				border-radius: 15px 0px 0px 15px;} 

.textpopulars {	display: flex; 
				flex-direction: column; 
				margin-left: 15px; }

.pricespop {font-size: 15px;}

.starpopulars {	font-size: 12px; 
					color: #0065FC;
					margin-top: 36%;

					}



/*Section Activities*/

.activities {	width: 100%; 
				display: flex; 
				flex-direction: column; 
				margin-top: 2%;
				margin-bottom: 3%;}

.tittleactivlogo {display: flex; align-items: center; justify-content: space-between;width: 46%; margin-left: 3.3%;}


#tittlesectionact { margin-bottom: 2.5%;
						font-size: 19px; 
						 }

i.beach {display: none;} /*logo*/


.divactivities {display: flex;
				justify-content: space-between; 
				margin-left: 3.3%; 
				margin-right: 3.3%; }

/*vieux port & calanques*/

.announcesactbig {	width: 20%; 
					display: flex; 
					flex-direction: column;
					border-radius: 18px; 
					box-shadow:0px 1px 8px;}

.announcesactbig:hover {box-shadow: 0 0 10px;}




.imgactivites1 {	object-fit: cover; 
					width:100%; 
					height: 424px; 
					margin-bottom: 0%; 
					border-radius: 18px 18px 0px 0px;}

/*Pomègues & Frioul*/

.announcescenter {	width:23%;
					display:flex; 
					flex-direction: column;}


.pomegues {	width: 100%; 
			box-shadow:0px 1px 8px;
			display:flex; 
			flex-direction: column;	
			border-radius: 18px; 
			
			}

.pomegues:hover {box-shadow: 0 0 10px;}


.imgpomegues {  object-fit: cover; 
				width: 100%; 
				height: 170px; 
				border-radius: 18px 18px 0px 0px;}


.frioul {	margin-top: 21%; 
			box-shadow:0px 1px 8px;
			width: 100%; 
			border-radius: 18px; 
			display: flex; 
			flex-direction: column; 
			}


.frioul:hover {box-shadow: 0 0 10px;}


.imgfrioul {	object-fit: cover; 
				width: 100%; 
				height: 133px; 
				border-radius: 18px 18px 0px 0px;}

/*Notre Dame & Parc Longchamp*/

.announcesrights {	width: 23%;
					display: flex; 
					flex-direction: column;
					}

.notredame {	margin-bottom: 21%; 
				box-shadow:0px 1px 8px;
				width: 100%; 
				border-radius: 18px; 
				display: flex; 
				flex-direction: column; 
				}

.notredame:hover {box-shadow: 0 0 10px;}


.titles-announces-act {	width: 100%; 
						padding-left: 6%; 
						margin-top: 3%; 
						margin-bottom: 4%;
						padding-top: 0%;  } 






/*FOOTER*/

footer { 	background:#F2F2F2;
			display: flex;
			width: 100%;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding-top: 3%; 
			padding-bottom:3%; }

.divfooterleft {margin-right:15.7%; margin-left: 3.3%; }
.divfooter {margin-right: 15.7%;  margin-left: 3.3%;}
.divfooterright {margin-left: 3.3%; margin-right: 0; }

.bold {font-weight: bold; margin-top: 0; margin-bottom: 20px;}



footer p { margin-bottom: 11px; cursor: pointer;}




/*TABLETTE*/

@media screen and (max-width: 769px) { body html {margin: 0; padding: 0;}
										
										/*Header*/

										.slogan {margin-bottom: 2%;}

										form {margin-bottom: 2%;}


										ul  {width: 60%;}
										


										.divfilters {	display: flex; 
														align-items: flex-start;
														margin-left: 4.3%; 
														margin-top: 1.5%; }

										.filters { align-items: center; display: flex; margin-top: 10px;}

										.underdivfilters { width: 90%; flex-wrap: wrap; height: 120px;}
										
										.dispo {margin-bottom: 3%;}

										/*heb + pop*/

										.hebpop {flex-direction: column; margin-top: 0;}

										.hebergements {	
														width: 95%;
														border:solid 2px #F2F2F2;
														margin:auto;
														background-color:white;}

										/*Populars*/

										.populars {	width: 95%; 
													margin: auto;
													justify-content: space-around; 
													border:solid 2px #F2F2F2;
													margin-top: 4%; 
													background: white;
													margin-bottom: 3%;}

										.tittlepoplogo {width: 61%;}


										.announcespopulars {	width:60%;
   																justify-content: flex-start; 
   																margin-top: 0px; 
   																cursor: pointer;
   																margin-bottom: 3%;
   																box-shadow: 0 0 5px;}


   										/*Activities*/

   										.activities {align-items: center;}

										.tittleactivlogo {margin-left: 0; margin-bottom: 1%;}

										i.beach {display: block; font-size: 20px;}


										.divactivities {	flex-direction: column; 
															align-items: center; 
															justify-content: space-between; 
															margin-bottom: 3%; }


										.announcesactbig {width: 50%; margin-bottom: 3.5%;}


										.announcescenter { width: 50%; margin-bottom: 3.5%;}


										.announcesrights {width: 50%;}


										.imgactivites1 {height: 150px;}

										.imgpomegues {height: 150px;}

										.frioul {margin-top: 7%;}

										.imgfrioul {height: 150px;}

										.notredame {margin-bottom: 7%;}


										/*FOOTER Tablet*/

										footer {padding-bottom:6%; padding-top:6%;}

										.divfooterleft { margin-top:0; margin-right:10%; margin-left: 3.3%; }

										.divfooter { margin-right: 10%; margin-left: 3.3%;}

										.divfooterright { margin-left: 3.3%; margin-right: 0; }


									
}

										

/*VERSION MOBILE S CHOISIE*/

@media screen and (max-width: 497px) {	html body {margin:0; padding: 0;}
										
									
										/*HEADER*/
										
										#reservialogo {top: 0; left: 10px;}

										#subscribe {position: absolute;
													
													font-size: 17px;
													top: 19px; 
													right: 15px;}

										ul {width: 100%;
											
											justify-content: flex-start;
											margin-right: 0;
											margin-top: 70px;
											margin-bottom: 0px;	}

										li {height: 50px; }

										.buttons {	border-bottom: solid 3px #F2F2F2; 
													padding-bottom: 10px;
													width: 50%;
													height: 50px;
													justify-content: center; }
										.sub {margin-left: 0;}
										

										.buttons:hover {border-top: none; border-bottom: solid #0065FC 2px; }
										
										

										.boutonheb {font-size: 17px;}

										.boutonact {font-size: 17px; }

										/*Page Title*/

										h1			 {	margin-top:7%;
														margin-left:3%;
														margin-bottom: 1.5%;
														font-size: 25px;
														width: 88.5%;}

										.slogan {margin-left:3%; margin-bottom: 5%;}


										/*Search Bar*/

										form { margin-left:3%; margin-bottom: 5%; width :80%;}

										input {width: 71%; height: 50px; margin-right: -13px; }

										i.locationlogo {height: 50px;}

										button {border-radius:16px; 
												width: 50px;
												height: 50px;
												}

										i.glass {display: block;}

										.rechercher {display: none; }

										
										
										

										/*Filters*/

										.divfilters { 	width: 100%; 
														flex-direction: column; 
														display: flex; 
														align-items: flex-start; 
														margin-left: 0; 
														margin-bottom: 2px;
														justify-content: space-around;}

										.filters {	margin-left: 3%; 
													display: flex; 
													margin-bottom: 13px; }

										.underdivfilters { flex-wrap: wrap; height: 160px; width: 90.7%;}
										
										.iconstexts { margin-left: 2.5%; margin-right: 0;}

										#familial {margin-left:4%;}


										/*Dispo*/

										.dispo   {	align-items: flex-start; 
													width: 97%; 
													margin-left: 0;
													margin-bottom: 25px; 
													margin-left: 2.5%; }

										

										.dispotext {		margin-top: 3px;
														font-size: 14.5px; 
														}



										/*Sections Heb + Pop*/

										.hebpop {flex-direction: column-reverse; margin: 0px;}


										.populars {border: none;
													width:100%;
													background-color: #F2F2F2;
													 padding-top:2.5%;
													 border-radius: 0px;
													 padding-bottom: 2%}

										.tittlepoplogo {  		width: 94%;
																margin-top: 9%;
																margin-bottom: 20px; }


										.tittlepopulars {	width: 89.5%;
															font-size: 18px;
															margin-left: 2%;
														 }

										.arrowlogo {margin-left: 0; margin-top: 0;}

										.announcespopulars {margin-bottom: 4%;
															border: solid white 4px; 
															display: flex; 
															width:89%;
   															justify-content: flex-start; 
   															border-radius: 18px; 
   															background-color: white; 
   															margin-top: 0px; 
   															cursor: pointer; }


										.imgpopulars {	object-fit: cover; 
														width: 40%; 
														height: 140px; 
														border-radius: 15px 0px 0px 15px;}


										.starpopulars {margin-top: 28%;}


										/*hebergements*/

										.hebergements { border: none;
														width: 100%;
														margin: auto;
														background-color: white;}

										#tittlehebergements {	margin-left: 7%; 
																margin-top: 8%; 
																margin-bottom: 18px;
																font-size: 18px;}

										.reservations {	display: flex;
														margin: auto;
														flex-direction: column;
														flex-wrap: wrap;
														width:87%;	}	

										.textannounces {  
														border: solid white 4px; 
														border-radius: 18px; 
														background-color: white; 
														width: 100%; 
														display: flex;
														flex-direction: column;
														margin-bottom: 7%;
														cursor: pointer;}

										.textannouncesbottom {	border: solid white 4px;
																border-radius: 18px; 
																background-color: white; 
																width: 100%; 
																display: flex;
																flex-direction: column; 
																cursor: pointer;
																margin-bottom: 7%; }

										.imghebergement { 	border-radius: 18px 18px 0px 0px; 
															height: 130px; 
															object-fit: cover;  }


										.afficherplus {margin-top: 10px;
														margin-left: 7%;
														margin-bottom: 35px;}


										
										/*Activities*/

										.tittleactivlogo {width: 100%; margin-bottom: 0;}

										#tittlesectionact {		margin-left: 21px; 
																margin-top: 0;
																margin-bottom: 20px;}

										i.beach {display: none;}


										.divactivities {flex-direction: column; 
														align-items: center; 
														display: flex; 
														margin: auto; 
														width: 100%;
														margin-bottom: 5px;}


										.announcesactbig {width: 90%; margin-bottom: 30px;}

										.imgactivites1 {height: 130px;}


										.announcescenter {	width: 100%; 
															margin: auto;
															margin-bottom: 30px;}

										.pomegues {	width: 90%; margin: auto; 
													margin-bottom: 30px;}

										.imgpomegues {height: 130px;}


										.frioul {width: 90%; margin: auto;}

										.imgfrioul {height: 130px;}


										.announcesrights {width: 100%; margin: auto;}

										.notredame {width: 90%; margin: auto; margin-bottom: 30px;}


										/*FOOTER Mobile*/

										footer {flex-direction: column;
												padding-bottom: 15px;}

										.divfooterleft {	width: 97%; 
															margin-bottom: 30px; 
															width: 80%;
															margin-right: 0;
															margin-top: 30px;
															margin-left: 4.6%;}

										.divfooter {		width:97%; 
															margin-left:4.6%; 
															margin-bottom: 30px; 
															width: 75%;
															margin-right: 0;}

										.divfooterright {margin-left: 5%; margin-bottom: 30px;}					

														}


/*Adjustements for medium/small*/

@media screen and (max-width: 376px) {	h1 { font-size: 21.9px; }
				
										form {width: 96.5%}

										.underdivfilters {width: 100%}
										
										.dispotext {font-size: 14.5px; width: auto;}

										.dispo i {width: 31px; height: 25px; }
										
}




